
<div class="sidebar">
    <ul>
        <li class="menu-display"> 
            <a href="/stories"> Public stories</a> 
            <button class="close-menubar" onclick="closeBar()"> x </button>
        </li>
        <li> <a href="/"> Dashboard</a> </li>
        <li> <a href="/auth/logout"> Logout</a> </li>
    </ul>
</div>
<div class="navbar-header">
    <div class="navbar-icon">
        <button onclick="menuBar()">
            &#9776;
        </button>
    </div>
    <div class="navbar-title">
        <h2>StoryBooks</h2>
    </div>
    <div class="all-stories"> <a href="/stories"> All Stories</a> </div>

</div>

{{!-- Sidebar --}}