<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/book.jpg" type="image/icon type">
    <title>Login</title>
</head>
<body>
    <div class="form-container">
        <div class="form-login">
            <h3 class="form-title"> <i class="fa fa-book"></i> StoryBooks</h3>
            <form>
                <div class="form-label">
                    <label for="username">Username</label> <br>
                    <input type="text" name="username" id="username">
                </div>
                <div class="form-label">
                <label for="password">Password</label><br>
                <input type="text" name="password" id="password"><br>
                </div>

                <button type="submit" class="btn primary" > Login </button>
            </form>
            <div>
                <div class="text-right">Dont have an account?</div>
                <div class="form-here button">
                <a href="">Register here</a>
                </div>
                <div class="form-here google">
                <a href="/auth/google"> <i class="fa fa-google" aria-hidden="true"></i> Login with google</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>